/* -- General Area Begin -- */

* {
  font-family: arial;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

body.contact-body {
  background-image: url('../img/bg.jpg');
  background-size: cover;
}

/* -- General Area End -- */

/* -- Header Area Begin -- */

header a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  color: #5f4a90;
  text-decoration: underline;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 8px 0 #676565;
}

header .logo-content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .logo-content img {
  width: 10%;
}

header .container {
  width: 40%;
  display: flex;
  align-items: center;
}

header .container ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header .container ul li {
  list-style: none;
}

header .container ul .toggle-menu {
  color: purple;
  display: none;
}

/* -- Header Area End -- */

/* -- Main Area Begin -- */
#contanier-banner{
  position: relative; 
}
#banner {
  width: 100%;
  margin-top: 61px; 
}
.texto-banner-1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.texto-banner-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 30px;
}
.texto-banner-3 {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  height: 80px ;
  
}
#btn-banner{
  width: 120%;
  height: 50%;
  border-radius: 30px;
 
  

}
.container-produtos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.container-produto{
  position: relative;
}

.produto{
  width: 330px;
  height: 220px;
}

.texto-banner-produto{
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  height: 80px ;
}
#btn-produto{
  width: 120%;
  height: 50%;
  border-radius: 30px;
}
 

/* -- Main Area End -- */
/* -- Footer Area Begin -- */

footer{
  height: 30px;
  background-color: #6d267566;
  color: #fff;
  text-align:center;
  border-top: 10px solid #c4a8c8;
}
/* -- Footer Area End -- */

.contact-content {
  margin: 8% auto 4%;
  width: 40%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-between;
  border: 1px solid #5f4a90;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.contact-content .contact-title {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content form input,
textarea {
  width: 85%;
  height: 5vh;
  margin-bottom: 1%;
  font-size: 1em;
  outline: none;
  resize: none;
  border: 1px solid #5f4a90;
  border-radius: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.07);
}

.contact-content form textarea {
  height: 20vh;
}

.contact-content form label {
  width: 85%;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 1em;
}

.contact-content form .contact-item {
  width: 85%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}

.contact-content form .contact-item input {
  width: 10%;
  height: 25%;
}

.contact-content form .contact-item label {
  width: 60%;
  margin: 0%;
}

.contact-content form .contact-item button {
  width: 50%;
  height: 70%;
  background-color: #5f4a90;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1.4em;
  outline: none;
}

.contact-content form .contact-item button:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

/* -- Contact Area End -- */
/* -- Media Queries Area Begin -- */

@media only screen and (max-width: 540px) {

  html {
    width: 100vw;
  }

  header {
    z-index: 2;
    height: 10vh;
  }

  header .container {
    width: 50%;
  }

  header .container ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }

  header .container ul li:not(.toggle-menu) {
    display: none;
  }

  header .container ul .toggle-menu {
    display: block;
    font-size: 1.3em;
  }

  header .logo-content {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  header .logo-content img {
    width: 20%;
  }
}

/* -- Media Queries Area Ends -- */